table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
  }
  
  tr, th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    font-weight: bold;
  }

  th {
    background-color: red;
  }
  
  td {
    background-color: gray;
  }
  
  th[colspan="4"] {
    background-color: violet;
  }
  
  th[colspan="2"],
  td[colspan="2"] {
    background-color: orangered;
  }
  
  th[rowspan="2"] {
    background-color: greenyellow;
  }
  
  tr:last-child td:last-child {
    background-color: blue;
  }

