body{
    background-color: rgb(250, 255, 255);
}


.box1 {
    height: 100px;
    width: 100px;
    background: lightblue;
    border: 1px solid black;
    top: 0;
    left: 0;
    right: 222px;
    position: absolute;
    
  }
  
  .box2 {
    height: 100px;
    width: 100px;
    background: lightcoral;
    border: 1px solid black;
    top: 0;
    left: 100px;
    position: absolute;
    
  }
  
  .box3 {
    height: 100px;
    width: 100px;
    background: lightcyan;
    border: 1px solid black;
    top: 0;
    left: 200px;
    position: absolute;
    
  }
  
  .box4 {
    height: 100px;
    width: 100px;
    background: lightgoldenrodyellow;
    border: 1px solid black;
    top: 0;
    left: 300px;
    position: fixed;
    
  }